body {

	margin: 0px;

	padding: 0px;

	background-image: url(images/bg_master_tile.gif);

	text-align: center;

}



p {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	line-height: 18px;

	color: #f1efed;

}

.whiteText {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #f1efed;
}

li {

	font-family: Arial, Helvetica, sans-serif;

	font-size: 12px;

	line-height: 18px;

	color: #f1efed;

}



#container {

	margin: 0 auto;

	height: 705px;

	background-image: url(images/bg_tile_overlay.gif);

	background-repeat: repeat-x;

}



#content {

	width: 934px;

	background-color: #babbb7;

	border-top: 1px none #333333;

	border-right: 1px solid #333333;

	border-bottom: 1px solid #333333;

	border-left: 1px solid #333333;

	margin: 0 auto;

}



#inner_content {

	margin-left: 10px;

	margin-right: 10px;

	margin-bottom: 10px;

	background-color: #10100f;

}



#inside_page {

	background-image: url(images/bg_content.gif);

	background-repeat: repeat-y;

}



#inside_page_back {

	background-image: url(images/bg_content_inner.gif);

	background-repeat: repeat-x;

	margin-left: 2px;

	margin-right: 2px;

	text-align: left;

}



#inside_page_pad {

	padding-left: 63px;

	margin-right: 42px;

}



#inside_page_m_pad {

	padding-left: 36px;

	margin-right: 42px;

}



#inside_page_pad_ext {

	padding-left: 23px;

	padding-right: 23px;

}



.nospace {

	margin: 0px; 

	padding: 0px;

	font-size: 2px;

}



#header {

	width: 914px;

	height: 112px;

}



#topnav {

	width: 914px;

	height: 36px;

}



#hm_column_right {

	width: 353px;

	background-image: url(images/bg_hm_right_column.gif);

}



#hm_column_left {

	background-image: url(images/bg_hm_left_column.gif);

	width: 561px;

}



.hm_feature {

	background-image: url(images/bg_hm_feature.gif);

	width: 353px;

	height: 152px;

	margin: 0px;

	padding: 0px;

}



.hm_feature_space {

	height: 2px;

	margin: 0px;

	padding: 0px;

	font-size: 2px;

}



#hm_left_content_back {

	background-image: url(images/bg_hm_left_content.gif);

	background-repeat: no-repeat;



}

#hm_left_content {

	padding-top: 12px;

	padding-left: 27px;

	padding-right: 26px;

	color: #ffffff;	

}



.hm_feature_space {

	margin: 0px;

	padding: 0px;

	font-size: 2px;

}



.hm_feature_pad {

	margin: 0px;

	padding-top: 1px;

	padding-left: 30px;

}



.feat_heading {

	color: #fab718;

	font-weight: bold;

	font-size: 13px;

	margin-bottom: 5px;

}



.feat_content {

	padding-top: 0px;

	margin-top: 0px;

	line-height: 14px;

}



.hm_callouts {

	color: #333333;

	font-size: 11px;

	margin-top: 3px;

	padding-left: 2px;

	width: 124px;

	line-height: 12px;

}


a {
	color: #8a8a88;
}

a:hover {
	text-decoration: none;
}

.hm_callouts a {

	color: #f1efed;

	text-decoration: underline;

}



.hm_callouts a:hover {

	color: #f1efed;

	text-decoration: none;

}



.feat_content a, .feat_content a:link, .feat_content a:active, .feat_content a:visited {

	color: #ffffff;

	text-decoration: none;

}



.feat_content a:hover {

	color: #ffffff;

	text-decoration: underline;

}



#footer {

	width: 914px;

	height: 45px;

	margin: 0 auto;

}



.footer_text {

	color: #b5b5b1;

	font-size: 11px;

	margin-bottom: 0px;

	margin-top: 5px;

	padding: 0px;

}



.footer_text2 {

	color: #989897;

	font-size: 11px;

	margin-top: 0px;

	padding: 0px;

}



.footer_text a, .footer_text a:link, .footer_text a:visited, .footer_text a:active {

	color: #b5b5b1;

	text-decoration: none;

	font-weight: bold;

}



.footer_text a:hover {

	color: #b5b5b1;

	text-decoration: underline;

	font-weight: bold;

}



.breadcrum {

	text-align: right;

	margin-top: 0px;

	margin-right: 30px;

	color: #b8b8b8;

}



.breadcrum a, .breadcrum a:link, .breadcrum a:visited, .breadcrum a:active {

	color: #b8b8b8;

	text-decoration: underline;

}



.breadcrum a:hover {

	text-decoration: none;

}



.breadcrum_highlight {

	color: #CCCCCC;

}



.text_highlight {

	color: #CCCCCC;

}



.text_highlight a, .text_highlight a:link, .text_highlight a:visited, .text_highlight a:active {

	color: #CCCCCC;

	text-decoration: underline;

}



.text_highlight a:hover {

	color: #CCCCCC;

	text-decoration: none;

}



#page_header {

	width: 783px;

	height: 28px;

	background-image: url(images/pgheader_contentpages.gif);

	background-repeat: no-repeat;

}



.page_header_text {

	padding-left: 23px;

	padding-top: 6px;

	color: #fab718;

	font-size: 16px;

	font-weight: bold;

	margin: 0px;

}



#page_header_short {

	width: 642px;

	height: 28px;

	background-image: url(images/pgheader_short.gif);

}



#submenu {

	background-image: url(images/bg_submenu.gif);

	background-repeat: repeat-y;

	width: 149px;

}



#submenu p {

	text-size: 12px;

}



.submenu_text a, .submenu_text a:link, .submenu_text a:visited, .submenu_text a:active {

	color: #babbb7;

	text-decoration: none;

}



.submenu_text a:hover {

	text-decoration: underline;

}



.submenu_selected {

	color: #fab718;

}



.submenu_active {

	color: #babbb7;

}



.submenu_active a, .submenu_active a:link, .submenu_active a:visited, .submenu_active a:active {

	color: #babbb7;

	text-decoration: none;

}



.submenu_active a:hover {

	text-decoration: underline;

}



.submenu_icon_sel {

	background-image: url(images/submenu_icon_sel.gif);

	background-repeat: no-repeat;

	width: 4px;

	height: 7px;

	margin: 0px;

	padding: 0px;

	margin-left: 13px;

	margin-top: 10px;

	margin-bottom: 10px;

	margin-right: 5px;

	font-size: 2px;

}



.submenu_icon_ac {

	background-image: url(images/submenu_icon_ac.gif);

	background-repeat: no-repeat;

	width: 4px;

	height: 7px;

	margin: 0px;

	padding: 0px;

	margin-left: 13px;

	margin-top: 10px;

	margin-bottom: 10px;

	margin-right: 5px;

	font-size: 2px;

}



.submenu_divider {

	background-image: url(images/submenu_divider.gif);

	background-repeat: no-repeat;

	width: 135px;

	height: 4px;

	margin: 0px;

	padding: 0px;

	font-size: 2px;

	margin-left: 4px;

}



.subhead {

	color: #b7b7b4;

	font-weight: bold;

	font-size: 13px;

}

.ul_space li {
	margin-left: 20px;
	width: 380px;
}